@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --special-orange: #f9a264;
    --special-blue: #194f82;
    --special-icon-red: #db2424;
    --special-form-blue: #6d7bf6;
    --special-card-grey: #fcfcff;
    --hero-gradient: #a8d0ff;
    --button-blue: #2e5eaa;
    --button-pink: #ffa7a7;
    --special-background-green: #d1ea39;
    --special-background-pink: #f1c9e6;
  }
}

@layer utilities {
  .gutter {
    @apply mx-auto p-16 sm:p-20 lg:p-24 xl:p-28;
  }

  .gutter-x {
    @apply mx-auto px-16 sm:px-20 lg:px-24 xl:px-28;
  }
}
